<!-- Image and text -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
  <a class="navbar-brand" href="#">
    <img src="/assets/img/logo.png" width="50" height="50" class="d-inline-block align-top" alt="">
  </a>
  <span class="d-block mr-3" style="font-size: 20px">Time Bank</span>

  {{#if isAuthenticated}}
    <div class="ml-auto">
      <button type="button" class="btn btn-outline-warning" id="add-child-btn" data-toggle="modal" data-target="#addChildModal">Add Child</button>
    </div>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/profile/{{id}}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/earn/{{id}}">Earn Time</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/spend/{{id}}">Spend Time</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/calculator">Calculate Bank Time</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/report">Report</a>
        </li>
        <a href="/logout"><button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Logout</button></a>
  {{else}}
          <li class="nav-item ml-auto">
            <a class="nav-link" href="/faq">FAQ</a>
          </li>
      </ul>
  {{/if}}
  </div>
</nav>

<div class="modal fade" id="addChildModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="add-child-modal-title">Add a Child</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="login" id="addChild-form" role="form" style="display: block;">
          <div class="form-group">
            <input type="text" name="childName" id="childName" tabindex="1" class="form-control" placeholder="Name" value="">
          </div>

          <div class="form-group">
            <input type="text" name="exercise_multiplier" id="exercise_multiplier" tabindex="1" class="form-control" placeholder="Exercise Multiplier (Ex: 50)"
              value="">
          </div>

          <div class="form-group">
            <input type="text" name="reading_multiplier" id="reading_multiplier" tabindex="1" class="form-control" placeholder="Reading Multiplier (Ex: 25)"
              value="">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-secondary" name="add-child-submit" data-dismiss="modal" id="add-child-submit">Add</button>
      </div>
    </div>
  </div>
</div>