<div class="jumbotron">
    <h1 class="display-3">
            <h2>Child Name: Payam</h2>
            <img src="public/assets/Images/blankavatar.png" class="img-circle" alt="child" width="50%" height="50%"> 
<div id="chronoExample">
    <div class="panel panel-default">
    <div class="panel-heading">
            <h2>Productive Time Counter</h2>
            <h1 class="panel-title" id="values">00:00:00</h1>
    </div>
    <div class="panel-body">
        <button type="button" class="btn btn-lg btn-success" id="startButton">Start</button>
        <button type="button" class="btn btn-lg btn-info" id="pauseButton">Pause</button>
        <button type="button" class="btn btn-lg btn-danger" id="stopButton">Stop</button>
    </div>
</div>
    <div class="container">
        <button type="button" class="btn btn-lg btn-warning" data-toggle="modal" data-target="#bankTimeModal" id="bankButton">Bank Time</button>

        <!-- Modal -->
<div class="modal fade" id="bankTimeModal" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Is your amount of productive time accurate?</h4>
            </div>
            <div class="modal-body">
                <h1 id="values">00:00:00</h1>
              <p>Please adjust your time as needed and enter the amount of time you want to log below!</p>
              <input class="form-control" type="text" placeholder="Please enter the amount of time in MINUTES!">
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Submit to Bank Time</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Go Back</button>
            </div>
          </div>
        </div>
    </div>
    </div>
    <br>
    <br>
<button type="button" class="btn btn-lg btn-circle">Change Task</button>
<button type="button" class="btn btn-lg btn-circle">Change Child</button>
</h1>
</div>