<div class="bs-example">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">1. What is Time Bank?</a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <p> Kids are spending so much time on wasteful activities, 
                            and not enough on meaningful things that build character, personable skills, etc.
                            The app tracks the  that kids do in order to earn bank time that kids can . The parents
                            set the weight for each activity.
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">2. What is Deposit Time?</a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>Wouldn't it be great if a kid spent more time doing the meaningful and productive things in life.
                        This is your deposit time.
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">3. What is Withdrawal Time?</a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>Does your kid want to watch TV, play video games, or watch videos on his phone. This is the earned time that
                            lets him do those things. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
