<style>
  a {
    color: white;
  }
</style>

<div class="container p-5">
  <h1 style="text-align:center">Frequently Asked Questions</h1>

  <div class="bs-example m-5">
    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h3 class="mb-0">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">1. What is Time Bank?</a>
          </h3>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            <h6> Kids are spending so much time on their electronics and other wasteful activities. They do not spend enough time
              on meaningful tasks that build character, personable skills, etc. This app tracks the productive tasks that
              kids do in order to earn "bank time" that kids can spend when they want. The parents set the weight for each
              activity, so they can deem what they feel is important.
            </h6>
          </div>
        </div>
      </div>
      <br>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h3 class="mb-0">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">2. How do you earn Bank Time?</a>
          </h3>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            <h6>Wouldn't it be great if a kid spent more time doing important and constructive things in life rather than just
              playing with their electronics? Bank time is accumulated when a child does any productive task that a parent
              considers meaningful. The parent will set the weight of their child's productive task, and they will earn bank
              time at that specific rate of the weight (in percentages). For example, if a parent sets the weight of homework
              to 50%, a child will earn 5 minutes of "bank time" for every 10 minutes of "homework time".
            </h6>
          </div>
        </div>
      </div>
      <br>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h3 class="mb-0">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">3. What is Productive Time?</a>
          </h3>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            <h6>Do your kids want to watch TV, play video games, or watch videos on their phones? This is the earned time that
              lets them do whatever it is that their heart desires.
            </h6>
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>