{{!-- <a href="/signup">Sign Up</a>
<a href="/login">Login</a> --}}

<div class="container">
  <center><h1>Time Bank</h1></center>
  <div class="pt-5 row justify-content-center">
    <div class="col-md-6 ">

      {{#if alert}}
        <div class="alert alert-danger" role="alert">
          {{alert}}
        </div>
      {{/if}}

      <div class="card card-login">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-12">

              <form class="login" id="login-form" method="post" role="form" style="display: block;" action="/">
                <h2>LOGIN</h2>
                <div class="form-group">
                  <input type="text" name="name" id="parentName-login" tabindex="1" class="form-control" placeholder="Username" value="">
                </div>
                <div class="form-group">
                  <input type="password" name="password" id="parentPassword-login" tabindex="2" class="form-control" placeholder="Password">
                </div>
                <div class="col-12 form-group">
                  <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
                </div>
              </form>

              <form class="signup" id="register-form" method="post" role="form" style="display: none;" action="/signup">
                <h2>REGISTER</h2>
                <div class="form-group">
                  <input type="text" name="username" id="parentName-register" tabindex="1" class="form-control" placeholder="Username" value="">
                </div>
                <div class="form-group">
                  <input type="password" name="password" id="parentPassword-register" tabindex="2" class="form-control" placeholder="Password">
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-12">
                      <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register">
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="card-heading">
          <div class="row">
            <div class="col-6 tabs">
              <a href="#" id="login-form-link">
                <div class="login active" id="login-btn-select">LOGIN</div>
              </a>
            </div>
            <div class="col-6 tabs">
              <a href="#" id="register-form-link">
                <div class="register" id="register-btn-select">REGISTER</div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
