<h2>Login</h2>
<a href="/">Sign Up</a>

<form class="login" method="POST" action="/login">
  <input id="parentName" type="text" name="name" placeholder="Username">
  <input id="parentPassword" type="password" name="password" placeholder="Password">
  <input type="submit" value="submit">
</form><a href="/">Home</a>

