<div class="container" style="height: 100%">
  <div class="row align-items-center" style="height: 100%">
    <div class="col-12 col-lg-6">
      <h2 class="const-header">Under Construction</h2>
      <p class="const-p">Our website is currently undergoing scheduled maintenance. We Should be back shortly. Thank you for your patience.</p>
    </div>
    <div class="col-12 col-lg-6 text-center">
      <img src="assets/img/logo.png" class="img-fluid" alt="IMG">
    </div>
  </div>
</div>

<style>
  .const-header {
    font-size: 80px;
    margin-bottom: 5%;
  }

  .img-fluid{
    max-width: 70%;
  }

  .const-p {
    font-size: 20px;
    color: white;
    font-family: 'Open Sans', sans-serif
  }
</style>