<div class="container">
 
  {{!-- <div class="row">
      <div class="mx-auto logo m-5">
        <img src="/assets/images/logo.png" id="logo" alt="logo" width="300px"; height="300px">
      </div>
  </div> --}}

  <div class="row justify-content-center p-4">
    <h2>Welcome, {{id}}!</>
    <center>
      <select data-placeholder="" class="form-control valid-select" id="dropdown">
        <option value="" selected disabled>Select an Option</option>
      </select>
    </center>
  </div>
  
  <!-- Two image buttons -->
  <div class="row">
      <div class="col-xs-2 mx-auto">
          
              <img id="earnit-img" class="image" src="/assets/images/earnit2.png" alt="earnit">

          {{!-- <h2 class="text-center m-2">EARN IT</h2> --}}
      </div>

      <div class="col-xs-2 mx-auto">
          {{!-- <a href="/spendIt"> --}}
            <img id="spendit-img" class="image" src="/assets/images/spendit2.png" alt="spendit">
          {{!-- </a> --}}
          {{!-- <h2 class="text-center m-2">SPEND IT</h2> --}}
      </div>
  </div>
</div>

<footer class="footer">
  <div class="container text-center">
    <p>
      &copy; 2018 - Stacy Areas, Vaibhav Tank, Payam Asem, Nydia Guo, David Morrill
    </p>
  </div>
</footer>