    <style>
    
    .menu {
    color: #2d3b55;
    font-size: 32px;
    float: right !important;
}
    </style>
</head>  
<body>
<div class="menu">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        Menu 
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" color="#2D3B55">
        <a class="dropdown-item" href="#">Add Kid</a>
        <a class="dropdown-item" href="#">Earn Time</a>
        <a class="dropdown-item" href="#">Spend Time</a>
        <a class="dropdown-item" href="#">Calculate Bank Time</a>
        <a class="dropdown-item" href="#">Report</a>
        <a class="dropdown-item" href="#">FAQ</a>
    </div>
</div>
  
    <div class="container">
        <style>
        body
        {background-color: #6D9998
        }
        </style>
       
        
        <div class="row">
            <div class="mx-auto">
                <img src="public/assets/images/logo.png" id="logo" alt="logo" width="300px"; height="300px">
            </div>
        </div>
        
        <!-- Two image buttons -->
        <div class="row">
            <div class="col-xs-2 mx-auto">
                <a href="#display">
                    <img id="earnit-img" class="image" src="public/assets/images/earnit.png" alt="earnit">
                </a>
            </div>
            <div class="col-xs-2 mx-auto">
                <a href="#display"></a>
                <img id="spendit-img" class="image" src="public/assets/images/spendit.png" alt="spendit">
            </div>
        </div>
    </div>
    <div id="footer">
        <br>
        <br>
        <p>  &copy 2018 - Stacy Areas, Vaibhav Tank, Payam Asem, Nydia Guo, David Morrill
            <p>
    </div>
