{{> header }}

<div class="container mt-3">
  <div class="row justify-content-center">
    <h2>Welcome, {{name}}!</h2>
  </div>
  <div class="row mt-5">
    <div class="col text-center">
      <img class="btn-img" src="/assets/img/stopwatch.png" />
    </div>
    <div class="col text-center">
      <img class="btn-img" src="/assets/img/hourglass.png" />
    </div>
  </div>
</div>

{{> footer }}