<div class="jumbotron">
  <h1 class="display-3">
    <h1>Child Name: Payam</h1>
    <img src="assets/Images/blankavatar.png" class="img-circle" alt="child" width="50%" height="50%">
    <h1>Bank Time Counter</h1>
    <h1 class="heading" id="clockdiv"></h1>
    <button type="button" class="btn btn-lg btn-success" id="start">Start</button>
    <button type="button" class="btn btn-lg btn-warning" id="pause">Pause</button>
    <button type="button" class="btn btn-lg btn-info" id="resume">Resume</button>
    <button type="button" class="btn btn-lg btn-danger" id="stop">Stop</button>
    <br>
    <br>
    <button type="button" class="btn btn-lg btn-circle">Change Child</button>
  </h1>
</div>